#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NAV     1
#define SYM     2
#define FUNC    3
#define MEDIA   4
#define MOUSE   5
#define WINNAV  6

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    combos {
        compatible = "zmk,combos";

        combo_undo {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LC(Z)>;
        };

        combo_q {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp Q>;
        };

        combo_semicolon {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp SEMI>;
        };
    };
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hs: homerow_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";
            bindings = <
&kp Q            &kp W           &kp F               &kp P         &kp B        &kp J        &kp L              &lt 0 U                  &kp Y              &kp SEMI
&kp A            &kp R           &kp S               &kp T         &kp G        &kp M        &kp N              &kp E                    &kp I              &kp O
&hm LEFT_META Z  &hm LEFT_ALT X  &hm LEFT_CONTROL C  &hm LSHIFT D  &kp V        &kp K        &hm RIGHT_SHIFT H  &hm RIGHT_CONTROL COMMA  &hm RIGHT_ALT DOT  &hm RIGHT_GUI APOS
                                                     &lt 1 SPACE   &lt 2 TAB    &lt 3 ENTER  &lt 4 BACKSPACE
            >;
        };

        nav {
            bindings = <
&trans        &trans        &trans            &trans          &trans    &trans  &trans          &trans          &trans        &trans
&trans        &trans        &trans            &trans          &trans    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW
&kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans    &trans  &trans          &trans          &trans        &trans
                                              &trans          &trans    &trans  &kp DELETE
            >;
        };

        symbol_1 {
            bindings = <
&trans        &trans        &trans            &trans          &trans    &kp GRAVE   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp QUESTION   &kp EXCL
&trans        &trans        &trans            &trans          &trans    &caps_word  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH      &kp PERCENT
&kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans    &trans      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp BACKSLASH  &kp DOUBLE_QUOTES
                                              &trans          &trans    &trans      &kp CAPS
            >;
        };

        symbol_2 {
            bindings = <
&kp TILDE  &kp CARET      &kp LESS_THAN  &kp GREATER_THAN  &kp COLON     &trans  &trans           &trans             &trans         &trans
&kp STAR   &kp MINUS      &kp PLUS       &kp EQUAL         &kp HASH      &trans  &trans           &trans             &trans         &trans
&kp PIPE   &kp AMPERSAND  &kp AT         &kp UNDER         &kp DOLLAR    &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_GUI
                                         &trans            &trans        &trans  &trans
            >;
        };

        number {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
